
<%- include('include/_header') %>

      <!-- Home -->
      <div class="container home">
            <div class="row">
                <div class="col-12 admin-12">
                    <div class="errorContainer">
                        <% if (messages.error) { %>
                            <p><%= messages.error %></p>
                        <% } %>
                    </div>

                    <div class="infoContainer">
                        <% if (messages.info) { %>
                            <p><%= messages.info %></p>
                        <% } %>
                    </div>
                </div>
                <div class="col-12 admin-12">
                    <h2>Admin page</h2>
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#alluser">
                        Get all users
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="alluser" tabindex="-1" aria-labelledby="alluserLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="alluserLabel">All users</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                            ...
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#adduser">
                        Add user(s)
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="adduser" tabindex="-1" aria-labelledby="adduserLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="adduserLabel">Add user(s)</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <form action="/admin/add" method="post">
                                    <div class="form-group">
                                        <label for="adduserform">Instruction right here</label>
                                        <textarea class="textarea" id="adduserform" name="adduser"></textarea>
                                    </div>
                                    <button class="btn btn-success" type="submit">Add</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#deleteuser">
                        Delete user(s)
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="deleteuser" tabindex="-1" aria-labelledby="deleteuserLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="deleteuserLabel">Delete user(s)</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <form action="/admin/delete" method="post">
                                    <div class="form-group">
                                        <label for="deleteuserform">Instruction right here</label>
                                        <textarea class="textarea" id="deleteuserform" name="deleteuser"></textarea>
                                    </div>
                                    <button class="btn btn-danger" type="submit">Delete</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#resetpassword">
                        Reset user(s) password
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="resetpassword" tabindex="-1" aria-labelledby="resetpasswordLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="resetpasswordLabel">Reset user(s) password</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <form action="/admin/reset" method="post">
                                    <div class="form-group">
                                        <label for="resetuserform">Instruction right here</label>
                                        <textarea class="textarea" id="resetuserform" name="resetuser"></textarea>
                                    </div>
                                    <button class="btn btn-primary" type="submit">Reset</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 admin-12">
                    <h3>Add new contest</h3>
                    <form action="/admin/upload-contest" method="post">
                        <div class="form-group">
                          <label for="">Contest name</label>
                          <input type="text" name="contestname" placeholder="Contest name" class="form-control">
                          <br>
                          <label for="">Contest password</label>
                          <input type="password" name="contestpassword" placeholder="Contest password" class="form-control">
                          <br>
                          <label for="">Start or stop contest</label>
                          <br>
                          <input type="radio" name="start" value="1" required>
                          <label for="">Start</label>
                          <br>
                          <input type="radio" name="start" value="0" required>
                          <label for="">Stop</label>
                          <br>
                          <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </form>
                </div>

                <div class="col-12 admin-12">
                    <h3>All contests</h3>
                    <ul>
                        <% for( let i = 0; i < contests.length; i++ ) { %>
                            <li>
                                <a href="./admin/contest/<%=contests[i]._id%>"><%=contests[i].name%></a>
                            </li>
                        <% } %>
                    </ul>
                </div>
                
                <div class="col-12 admin-12">
                    <h3>Add problem</h3>
                    <form action="/admin/upload-problem" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                          <h4 for="">Problem name</h4>
                          <input type="text" name="problemname" placeholder="Problem name" class="form-control" required>
                          <br>
                          <br>
                          <h4>Set time limit each test (ms)</h4>
                          <input type="number" placeholder="Time limit (ms)" name="timeEachTest" min="1000" max="5000" required>
                          <br>
                          <br>
                          <h4 for="">Set score for each test</h4>
                          <input type="number" placeholder="Score each test" name="scoreEachTest" required>
                          <br>
                          <br>
                          <h4 for="">Problem belongs to which contest</h4>
                          <select name="contestid" required>
                            <% for( let i = 0; i < contests.length; i++ ) { %>
                                <option value="<%=contests[i]._id%>"><%=contests[i].name%></option>
                            <% } %>
                          </select>
                          <br>
                          <br>
                          <h4 for="">Upload problem file</h4>
                          <input type="file" class="form-control-file" name="problem" required>
                          <br>
                          <br> 
                          <h4 for="">Upload problem solution file</h4>
                          <input type="file" class="form-control-file" name="solution" required>
                          <br>
                          <br> 
                          <h4 for="">Upload tests for this problem</h4>  
                          <input type="file" class="form-control-file" name="tests" multiple required>
                          <br>
                          <br>
                          <button type="submit" class="btn btn-primary">Upload problem</button>
                        </div>
                      </form>
                </div>

                
            </div>
      </div>
    
    <%- include('include/_footer') %>
    </body>
    </html>