
<%- include('include/_header') %>
      <!-- Home -->
      <div class="container home">
            <div class="row">
                <div class="col-12">
                    <div class="errorContainer">
                        <% if (messages.error) { %>
                            <p><%= messages.error %></p>
                        <% } %>
                    </div>

                    <div class="infoContainer">
                        <% if (messages.info) { %>
                            <p><%= messages.info %></p>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="row">
                <% if (showContest == 0) { %>
                    <div class="col-md-7">
                        <h2>Contests</h2>
                        <ul class="problemsListContainer">
                            <% for( let i = 0; i < contests.length; i++ ) { %>
                                <li>
                                    <% if (contests[i].created_at) { %>
                                        <a href="/contests/<%=contests[i]._id%>"><%=contests[i].name%> --- <%=contests[i].created_at.toLocaleDateString()%></a>
                                    <% } else { %>
                                        <a href="/contests/<%=contests[i]._id%>"><%=contests[i].name%></a>
                                    <% } %>
                                </li>
                            <% } %>
                        </ul>
                    </div>
                <% } else if(showContest == 1){ %>
                    <div class="col-md-7">
                        <form action="/contests/<%=contest._id%>" method="post">
                            <div class="form-group">
                                <h3>Enter password to join in contest: <%=contest.name%></h3>
                                <input type="password" class="form-control" name="contestpassword" placeholder="Enter contest password">
                            </div>
                            <button type="submit" class="btn btn-primary">Login to contests</button>
                        </form>
                    </div>
                <% } else if(showContest == 2) { %>
                    <div class="col-md-7">
                        <h2>Welcome to contest <%=contest.name%></h2>
                        <h3>All problems</h3>
                        <ul class="problemsListContainer">
                            <% for( let i = 0; i < problems.length; i++ ) { %>
                                <li>
                                    <a target="_blank" href="/contests/<%=contest._id%>/problem/<%=problems[i]._id%>"><%=problems[i].name%> -- <%=problems[i].uploaded_at_nice%></a>
                                </li>
                            <% } %>
                        </ul>
                    </div>

                    <div class="col-md-5">
                        <h2>Submit problem</h2>
                        <div class="submitContainer">
                            <div class="codeEditContainer">
                                <!-- <textarea name="codeEdit" id="codeEdit" class="codeEdit"></textarea> -->
                                <h6>Remember to choose problem name before submit</h6>
                                <form action="/submit/submit" class="submitFormContainer" method="post" enctype="multipart/form-data">
                                    
                                    <select name="problemId" id="problem">
                                        <!-- <option value="123">Problem 1</option> -->
                                        <% for( let i = 0; i < problems.length; i++ ) { %>
                                            <option value="<%=problems[i]._id%>"><%=problems[i].name%></option>
                                        <% } %>
                                      </select>
                                    <input type="file" required name="submitfile">
                                    <input type="submit">
                                </form>
                            </div> 
                            <div class="submittedContainer">
                                <h4>Submitted</h4>
                                <ul class="problemsListContainer submittedList">
                                    <!-- <li class="full_100">
                                        Problem 1
                                        <span class="score">100</span>
                                    </li> -->
                                    <% for( let i = 0; i < submittedProblems.length; i++ ) { %>
                                        <li type="button" class="<%=submittedProblems[i].classOfScore%> submittedEach" problemId="<%=submittedProblems[i].problemId%>">
                                            <%= submittedProblems[i].name %>
                                            <span class="score"><%=submittedProblems[i].score%></span>
                                        </li>
                                        <div class="submittedLog" style="display: none;" problemName="<%=submittedProblems[i].name%>" problemId="<%=submittedProblems[i].problemId%>" status="<%=submittedProblems[i].status%>" score="<%=submittedProblems[i].score%>/<%=submittedProblems[i].fullScore%>">
                                            <%=submittedProblems[i].logs%>
                                        </div>
                                    <% } %>
                                </ul>
                            </div>                       
                        </div>
                    </div>
                <% } %>
                
            </div>
      </div>

      <!-- Button trigger modal -->
<button type="button" id="showLog" class="btn btn-primary" style="display: none" data-toggle="modal" data-target="#showLogModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="showLogModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="showLogModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="showLogBody">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<%- include('include/_footer') %>
<script src="/js/index.js"></script>
</body>
</html>