<%- include('include/_header') %> 
<div class="container">
    <div class="row">
        <div class="col">
            <div class="errorContainer">
                <% if (messages.error) { %>
                    <p><%= messages.error %></p>
                <% } %>
            </div>

            <div class="infoContainer">
                <% if (messages.info) { %>
                    <p><%= messages.info %></p>
                <% } %>
            </div>
        </div>
    </div>
    <div class="profileContainer row">
        <div class="imageContainer col-md-6 mt-5 mb-5">
            <div class="image">
                <img src="/images/<%=avaurl%>" alt="">
            </div>
            <form action="/profile/change-ava" enctype="multipart/form-data" method="post">
                <h3 for="image">Change profile picture</h3>
                <input type="file" id="image" name="avatar" placeholder="Change profile picture">
                <button class="btn btn-primary">Change</button>
            </form>
        </div>
        <div class="col-md-6 mt-5 mb-5">
            <h3>Full name: Nguyen Hoang Anh</h3>
            <h4>Change password</h4>
            <form action="/profile/change-password" method="post">
                <h6 for="">Old password</h6>
                <input type="password" placeholder="Old password" name="oldpassword">
                <h6 for="">New password</h6>
                <input type="password" placeholder="New password" name="newpassword">
                <h6 for="">Confirm new password</h6>
                <input type="password" placeholder="Confirm new password" name="newpasswordconfirm">
                <br>
                <br>
                <button class="btn btn-primary" type="submit">Change</button>
            </form>
        </div>
    </div>
  </div>
<%- include('include/_footer') %>
</body>
</html>